:root {
  --tea-green: #CAE7B9;
  --flax: #F3DE8A;
  --flax-fade: #d3bb59; 
  --coral-pink: #EB9486;
  --cool-gray: #7E7F9A;
  --cadet-gray: #97A7B3;
  --white: #FFFFFF;
  --black: #000;

  --cadet-gray: #97A7B3; 
  --pink-gray: #B397A7;
  --green-gray: #A7B397;
}

* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
